name: Build 

on: push

env:
  PACKAGE_NAME: hello
  CONAN_REPO: my-conan-repo
  CONAN_REPO_URL: https://wangyoucao577.jfrog.io/artifactory/api/conan/test-conan-local

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    # use gitversion to determine next version
    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v0.9.9
      with:
        versionSpec: 'x.x.x'
    - name: Determine Version
      id:   gitversion
      uses: gittools/actions/gitversion/execute@v0.9.9
      with:
        useConfigFile: true
    - name: Display SemVer
      run: |
        echo "SemVer: $GITVERSION_SEMVER"


    # use conan to build and store
    - name: Install Conan
      id: conan
      uses: turtlebrowser/get-conan@main
    - name: Conan version
      run: echo "${{ steps.conan.outputs.version }}"

    - name: Build
      run: conan create . ${{ github.actor }}/${{ steps.gitversion.outputs.escapedBranchName }}
    - name: Upload
      run: |
        conan remote add ${{ env.CONAN_REPO }} ${{ env.CONAN_REPO_URL }}
        conan user -p ${{ secrets.MY_JFROG_IO_ACCESS_TOKEN }} -r ${{ env.CONAN_REPO }} ${{ secrets.MY_JFROG_IO_USERNAME }}
        conan upload ${{ env.PACKAGE_NAME }}/${{ env.GITVERSION_SEMVER }}@${{ github.actor }}/${{ steps.gitversion.outputs.escapedBranchName }} -r ${{ env.CONAN_REPO }} --all
      